<body>
   <iframe frameborder="0" scrolling="no"
     width="640" height="480"
     src="https://drive.google.com/file/d/1MftzD41fxqnGbWaw7eWagpDKwqQKCqQ2/view?usp=sharing/preview">
  </iframe>
</body>