<div class="container-fluid mt-5">
    <div class="row">
      <div class=="col-md-12 col-12 mx-auto">
        <div class="row">
          <div class="col-md-4 col-12 hero-text order-md-0 order-1">
          <figure>
             <img src="images/lpu1.jpg" alt="herosection_image">
          </figure>
          <a style="text-align:center;">LPU study material</a>
          </div>
          <div class="col-md-4 col-12 hero-text order-md-1 order-0">
          <figure>
             <img src="images/cu.jpeg"  alt="herosection_image">
          </figure>
          <p style="text-align:center;">CU study materials</p>
        </div>
        <div class="col-md-4 col-12 hero-text order-3">
          <figure>
             <img src="images/THI.jpeg" alt="herosection_image">
          </figure>
          <p style="text-align:center;">THI study materials</p>
        </div>
      </div>

      </div>
    </div>
  </div>
